@media screen and (max-width: 600px) {
    .loader-span-sty span {
        text-align: center !important;
        display: flex !important;
        margin: auto;
        justify-content: center !important;
        align-items: center !important;
        top: 130px !important;
    }
}